# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [1]:
# Starter code...

#pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

In [2]:
# # 1.

# Creating the combined data frames for both physical and digital best selling singles
# Checking the data from the wiki page to make sure it is the correct data I combine
best_selling = pd.concat([rawdata[0], rawdata[1], rawdata[3], rawdata[4]], ignore_index=True)

In [3]:
# # 2.

# add column indicating whether it is from a physical or digital single
# We do this by looking at the year of release and discover that none of the physical singles are released after 2004
# We then add a row, using an if statement that says physical if from before 2005 and digital if from 2005 or later
best_selling['Type'] = best_selling['Released'].apply(lambda x: 'Physical' if x < 2005 else 'Digital')

In [11]:
# # 3.
# Visually inspectin and finding the artist and single for the closest year (1998) to the year I was born (2000)
closest_to_2000 = best_selling[best_selling['Released'] == 1998]

# Making pretty print showing only the artist and single from the year 1998
print("\nClosest to 2000:")
print(closest_to_2000[['Artist', 'Single']])

Closest to 2000:
            Artist                   Single
26            Cher                "Believe"
43  Britney Spears  "...Baby One More Time"

In [13]:
# # 4.
# Here outputs the arit
when_15 = best_selling[best_selling['Released'] == 2015]

# Making pretty print showing only the artist and single from the year 2015
print("\n2015:")
print(when_15[['Artist', 'Single']])

2015:
                                  Artist                    Single
50    Wiz Khalifa featuring Charlie Puth           "See You Again"
53      Mark Ronson featuring Bruno Mars             "Uptown Funk"
55                            Ed Sheeran       "Thinking Out Loud"
71                              Maroon 5                   "Sugar"
76   Major Lazer & DJ Snake featuring MØ                 "Lean On"
78                        Ellie Goulding     "Love Me like You Do"
81                                 Adele                   "Hello"
88                         Justin Bieber           "Love Yourself"
95                         Justin Bieber                   "Sorry"
96                          Lukas Graham                 "7 Years"
102                          Mike Posner  "I Took a Pill in Ibiza"

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [ ]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

In [ ]:
# # 1.

# Creating the combined data frames for space missions from 1950's to 2020's 
space_missions = pd.concat([rawdata[0], rawdata[1], rawdata[2], rawdata[3], rawdata[4], rawdata[5], rawdata[6], rawdata[7]], ignore_index=True)

# Turning the 'Launch date' column into a datetime object
space_missions['Launch date'] = pd.to_datetime(space_missions['Launch date'], format='%d %B %Y')

18

In [ ]:
# # 2.
n_mission_old = 0  

# Creating a for loop that goes through each year and checks whether it was more or less than previous years
# If it is more, it will update the most_missions and year_most variables, giving us the year with the most missions
for i in space_missions['Launch date'].dt.year.unique():
    
    n_missions_new = len(space_missions[space_missions['Launch date'].dt.year == i])

    if n_missions_new > n_mission_old:
        most_missions = n_missions_new
        year_most = i
        n_mission_old = n_missions_new 

# And of course we make a nice little pretty print
print(f'The year with the most space missions was {year_most} with {most_missions} missions')

The year with the most space missions was 1965 with 12 missions

In [ ]:
# # 3.

per_month_old = 0
# Almost same logic as before
for i in space_missions['Launch date'].dt.month.unique():

    per_month_new = len(space_missions[space_missions['Launch date'].dt.month == i])

    if per_month_new > per_month_old:
        month_most_launches = per_month_new
        month = i 
        per_month_old = per_month_new

# And we don't stop the pretty printing spree
print(f'The month with the most launches was {month} with {month_most_launches} launches')

The month with the most launches was 11 with 30 launches

In [ ]:
launches_per_month = {}

for i in space_missions['Launch date'].dt.month.unique():

    per_month = len(space_missions[space_missions['Launch date'].dt.month == i])

    launches_per_month[i] = per_month

ranked_months = sorted(launches_per_month.items(), key=lambda item: item[1], reverse=True)

[(np.int32(11), 30), (np.int32(8), 27), (np.int32(10), 24), (np.int32(9), 22), (np.int32(7), 21), (np.int32(1), 19), (np.int32(12), 19), (np.int32(5), 17), (np.int32(3), 15), (np.int32(2), 14), (np.int32(6), 14), (np.int32(4), 13)]

In [ ]:
# Nice print of the ranked months
for i, j in ranked_months:
    print(f'The month {i} had {j} launches')

The month 11 had 30 launches
The month 8 had 27 launches
The month 10 had 24 launches
The month 9 had 22 launches
The month 7 had 21 launches
The month 1 had 19 launches
The month 12 had 19 launches
The month 5 had 17 launches
The month 3 had 15 launches
The month 2 had 14 launches
The month 6 had 14 launches
The month 4 had 13 launches

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

In [ ]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_comic_book_supervillain_debuts")

In [ ]:
# # 1.

# Creating the combined data frame for supervillains 
supervillains = pd.concat([rawdata[3], rawdata[4], rawdata[5], rawdata[6], rawdata[7], rawdata[8], rawdata[9], rawdata[10], rawdata[11]], ignore_index=True)

In [14]:
# # 2.

# We first create a nice new decades variable that take the decades from the 1930s to the 2020s
decades = range(3, 12)
decade_labels = {i: f"{1900 + i * 10}s" for i in decades}

# Creatin an empty dictionary to store the number of supervillain debuts per decade
debut_per_decade = {}

# We then loop through the decades and count the number of supervillain debuts per decade
for i in decades:

    per_decade = len(rawdata[i])

    debut_per_decade[decade_labels[i]] = per_decade

# ranking the deacades on the number of supervillain debuts
ranked_debuts = sorted(debut_per_decade.items(), key=lambda item: item[1], reverse=True)

# Nice print of the ranked decades
for decade, count in ranked_debuts:
    print(f"The {decade} had {count} supervillain debuts.")

The 1940s had 40 supervillain debuts.
The 1930s had 21 supervillain debuts.
The 1950s had 21 supervillain debuts.
The 1990s had 19 supervillain debuts.
The 1970s had 17 supervillain debuts.
The 1960s had 6 supervillain debuts.
The 1980s had 5 supervillain debuts.
The 2000s had 5 supervillain debuts.
The 2010s had 1 supervillain debuts.

In [ ]:
# Seeing the different companies from the dataframe
supervillains['Company'].unique()

['DC' 'Lev Gleason Publications' 'Fawcett Comics/DC' 'Marvel/Timely' nan
 'Marvel' 'Comico' 'Mirage' 'Eternity' 'Image' 'Dark Horse' 'Image Comics'
 'Disney/Hyperion']

In [ ]:
# # 3. 
# Creating a dictionary for the number of supervillains per unique company
supervillains_per_company = {}

# A for loop that goes through each company and counts how many time a supervillain is listed, when that company is indexed
for i in supervillains['Company'].unique():

    per_company = len(supervillains[supervillains['Company'] == i])

    supervillains_per_company[i] = per_company

# Creating a dataframe on the dictionary for nice display
df_ranked_company = pd.DataFrame(
    list(supervillains_per_company.items()),
    columns=['Company', 'Supervillains']
)

# Ranking the companies on the number of supervillains
df_ranked_company = df_ranked_company.sort_values(by='Supervillains', ascending=False).reset_index(drop=True)

In [ ]:
# Nice display of aforementioned dataframe (sorted by amount of supervillains)
df_ranked_company

                     Company  Supervillains
0                         DC            338
1                     Marvel            264
2          Fawcett Comics/DC              6
3                      Image              5
4                 Dark Horse              5
5              Marvel/Timely              4
6            Disney/Hyperion              4
7                   Eternity              3
8   Lev Gleason Publications              1
9                     Mirage              1
10                    Comico              1
11              Image Comics              1
12                       NaN              0

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [35]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head(-1)

     Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0             4.16        6.76          4.45         4.65  2015
1             4.35        7.73          4.78         4.46  2015
2             3.60        7.00          4.00         3.50  2015
3             3.90        9.03          4.60         6.30  2015
4             4.22        9.98          6.83         6.24  2015
..             ...         ...           ...          ...   ...
176           3.69        6.82          4.54         5.29  2021
177           4.30        7.08          6.25         4.28  2021
178           4.75        9.66          6.12         5.49  2021
179           4.98        7.52          6.73         5.16  2021
180           5.16        8.81          8.19         5.51  2021

[181 rows x 5 columns]

In [37]:
# Creating a participant ID that is 1-indexed, as every sensible programmer should do
# I mean, who starts by counting with 0? "Let's meet at 0th table" - said no one ever. Let's just abandon python
# and start using Julia instead.
df["Participant_id"] = df.index + 1
df

,Reading_NoInt,Naming_Int,Naming_NoInt,Reading_Int,Year,Participant_id
0,4.16,6.76,4.45,4.65,2015,1
1,4.35,7.73,4.78,4.46,2015,2
2,3.60,7.00,4.00,3.50,2015,3
3,3.90,9.03,4.60,6.30,2015,4
4,4.22,9.98,6.83,6.24,2015,5
...,...,...,...,...,...,...
177,4.30,7.08,6.25,4.28,2021,178
178,4.75,9.66,6.12,5.49,2021,179
179,4.98,7.52,6.73,5.16,2021,180
180,5.16,8.81,8.19,5.51,2021,181
181,4.27,10.40,5.32,4.59,2021,182

In [38]:
# We here use the panda function "melt" which is made for this "pivoting" of dataframes. Here, we "melt" the dataframe
# by giving each reaction time a corresponding task row (based on the column title from previous df)
# and also a row that specifies the participant and year

df_long = pd.melt(
    df,
    id_vars=["Participant_id", "Year"],
    var_name="Task",
    value_name="RT",
)

# Showing that this produces the correct amount of rows, as the original dataframe had 182 rows, and 4 reaction time tasks
# resulting in 182*4 = 728 rows
df_long

     Participant_id  Year           Task    RT
0                 1  2015  Reading_NoInt  4.16
1                 2  2015  Reading_NoInt  4.35
2                 3  2015  Reading_NoInt  3.60
3                 4  2015  Reading_NoInt  3.90
4                 5  2015  Reading_NoInt  4.22
..              ...   ...            ...   ...
723             178  2021    Reading_Int  4.28
724             179  2021    Reading_Int  5.49
725             180  2021    Reading_Int  5.16
726             181  2021    Reading_Int  5.51
727             182  2021    Reading_Int  4.59

[728 rows x 4 columns]

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.

In [ ]:
# We simply just use the group_by function, which makes it really easy to make aggregates and means as in this case
# We group by the year and the task, and then set it to give us the mean for each
mean_rt_per_task_year = df_long.groupby(["Year", "Task"])["RT"].mean().reset_index()

print(mean_rt_per_task_year)

    Year           Task         RT
0   2015     Naming_Int   8.617143
1   2015   Naming_NoInt   5.123571
2   2015    Reading_Int   4.446429
3   2015  Reading_NoInt   3.951429
4   2016     Naming_Int   8.859268
5   2016   Naming_NoInt   5.405610
6   2016    Reading_Int   5.340000
7   2016  Reading_NoInt   4.076098
8   2017     Naming_Int   9.311765
9   2017   Naming_NoInt   5.771176
10  2017    Reading_Int   5.492353
11  2017  Reading_NoInt   4.414412
12  2018     Naming_Int   9.372667
13  2018   Naming_NoInt   5.298000
14  2018    Reading_Int   4.938667
15  2018  Reading_NoInt   3.886000
16  2019     Naming_Int   9.536087
17  2019   Naming_NoInt   6.345652
18  2019    Reading_Int   6.090870
19  2019  Reading_NoInt   4.935652
20  2020     Naming_Int   9.740833
21  2020   Naming_NoInt   5.962500
22  2020    Reading_Int   4.956667
23  2020  Reading_NoInt   4.395000
24  2021     Naming_Int  10.105484
25  2021   Naming_NoInt   6.387742
26  2021    Reading_Int   7.038065
27  2021  Reading_NoInt   4.842581